.banner {
  width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.banner .tagline {
  text-align: center;
  padding-top: 20vh;
  padding-bottom: 20vh;
  color: #fff;
  font-size: 2.5rem;
}